*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight:bold
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h5{
    float: left;
    font-weight: bold;
}
.navbar a {
    text-decoration: none;
    color:black;
}
.navbar svg{
    text-decoration: none;
    color:black;
}
.navbar {
    width: 50%;
    margin: auto;
    
}
.hlavicka{
    height: 20px;
    width: 100%;
    box-shadow: 0 10px white ;/*bude black*/
        
}
.carousel > div{
    border-radius: 5px;
}
.carousel-indicators{
    margin-bottom: 150px;
}

.p-3{
    
    background-color: #e9e9e9;
}
.p-4{
    background-color: #1f79b8;
    color: white;
    
}
.divBlue >p{
    padding-left: 5%;
    padding-right: 5%;
}
.col{
    background-color: white;
    font-weight: bold;
    color: navy;
    margin:6%;
    padding-top:2%;
    border-radius: 5px;
}
.col > div{
    font-weight: normal;
    color: black;
    
}
.row{
    padding-top:6%;
}
.carousel-caption > p{
    opacity: 0;
}
.btn-primary{
    margin-bottom: 20px;
}
.biii{
    margin-bottom:10%;
}
.colcard{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    color: black;
    margin-left: 6.25%;
}
.card-body> h4{
    float: left;
    font-weight: bold;
    color: navy;
}
