*{
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color:black;
}
.navbar svg{
    text-decoration: none;
    color:black;
}
.navbar {
    width: 50%;
    margin: auto;
    
}
.hlavicka{
    height: 20px;
    width: 100%;
    box-shadow: 0 10px white ;/*bude black*/
        
}
.carousel > div{
    border-radius: 5px;
}
.carousel-indicators{
    background-color: #d3d3d3;
   
}
.carousel-indicators button{
    
    border-radius: 50%;
}
